.travel-details {
    width: 100%;
    max-width: 1200px;
    height: 72px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    margin: 25px 0 0 0;
}

.city {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 8px;
}

.details {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
}

.dates {
    margin-right: 10px;
}
.notes {
    margin-left: 10px;
}

.date-separator {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
}

.description {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    width: 100%;
    max-width: 1200px;
    text-align: justify;
}

.notes-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    gap: 20px;
    margin: 0 auto;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.new-note-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 14px;
    gap: 8px;
    width: 132px;
    height: 48px;
    background: #212121;
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: white;
}

.notes-table {
    width: 100%;
    max-width: 1200px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 12px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    justify-content: center;
    margin-bottom: 40px;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

img {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 400px;
}
