.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
    border: 1px solid #000;
    background-color: white;
  }
  
  .input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .input-field label {
    color: #333;
    font-weight: 500;
  }

.input-field input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
}
  
  button.submit-btn {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 600;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
  }

  button.submit-btn:hover {
    background-color: #2a2929;
  }

  .login-info {
      font-size: 20px;
  }
  
  .register-link button {
      padding: 10px 20px;
      border-radius: 4px;
      border: none;
      background-color: black;
      color: white;
      cursor: pointer;
      font-weight: 600;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
  }
  
  .register-link button:hover{
    background-color: #2a2929;
  }

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
}

.login-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    max-width: 300px;
    margin: auto;
    padding: 10px;
}

.flex-wrapper {
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
    background-image: url("img/backg.png");
}

.flex-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.flex-item {
    flex-basis: 100%;
}

.login-description {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
;
}

.login-description h3{
    font-size: 45px;
    font-weight: 10;
}

.login-description h1 {
    font-size: 90px;
}

.description-list {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

* {
    margin: 0;
    padding: 0;
}