/* imports */

/* should these fonts be here? */
@import url("https://fonts.googleapis.com/css2?family=Material+Icons"); /*used for checkmark*/

@import url("https://fonts.googleapis.com/css2?family=Inter");

/* general */

#login {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* So the background doesn't cut off on really small sizes */
  overflow: auto;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../../../assets/login-bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: Inter;
  font-style: normal;
}

.login-row {
  display: flex;
  /*
        login's "justify-content: center;" would keep some parts off-screen at high zooms.
        "margin: auto;" keeps everything centered, but also fully scrollable!
    */
  margin: auto;
  width: 75rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

/* login-description component (left component) */

.login-description {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 21.25rem;
}

.login-description__logo {
  margin-top: 1.517rem;
  margin-bottom: 3rem;
  width: 28.83738rem;
  height: 3.32225rem;
}

.login-description__subtitle {
  font-size: 1.5rem;
  font-weight: 350; /* unsure */
  line-height: 2rem; /* 133.333% */
  opacity: 0.7;
  margin: 0;
}

.login-description__list {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline: 1rem;
  padding: 0;
  list-style-type: none;
  gap: 0.5625rem;
}

.login-description__list li {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem; /* 133.333% */
}

.login-description__list li:before {
  content: "check";
  font-family: "Material Icons";
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem; /* 133.333% */
  padding-right: 1rem;

  /* HACK:  to make checkmarks centered with font*/
  position: relative;
  top: 0.2rem;
}

/* login-card component (right component) */

.login-card {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 1.5rem;
  border: 1px solid var(--text-text-primary-light, #000);
  background: var(--neutral-lightest, #fcfcfc);
  padding: 3rem 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 36.5rem;
  height: 26.1875rem;
}

.login-card__title {
  font-size: 2rem;
  line-height: 2.5rem; /* 125% */
  margin-bottom: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.login-form__input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form__input-field label {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem; /* 133.333% */
}

.login-form__input-field input {
  display: flex;
  height: 3rem;
  padding: 0.75rem 0.875rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.75rem;
  border: 1px solid #000;
  background: var(--background-background-secondary, #fff);
}

.login-form__submit-btn {
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.75rem;
  border: 1px solid #000;
  background: #000;
}

.login-form__submit-btn h3 {
  color: var(--background-background-secondary, #fff);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  margin-bottom: 0;
}

.login-form__submit-btn:hover {
  background-color: #2a2929;
}

.error-message {
  font-size: 0.9em;
  color: #ff6666;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  display: inline;
  background-color:  #ffe6e6;
}

.error-background {
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}