.custom-container img {
    height: 100%;
    width: 100%;
    max-height: 270px;
    max-width: 352px;
    object-fit: cover;
}

.custom-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    max-height: 300px;
    max-width: 375px;
}

.button-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border: 0px;
}

.button-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.color-gray {
    color: gray;
}

.date-separator {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
    margin: 0 10px 0 10px;
}
