.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.logout {
    background: transparent;
    border: none;
    padding: 0px 0px;
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover {
    filter: brightness(90%);
}
