.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #EAEAEA;
}

.logout {

    font-size: 16px;
}

.logout:hover {
    background: #EAEAEA;
}